#key-duties{
  h2{background-color: $secondary-color; padding: 3rem 0; text-align: center;}

  #duty-1{background-image: url("/img/duties/mariner.png"); background-position: top;}
  #duty-2{background-image: url("/img/duties/people.png"); background-position: top;}
  #duty-3{background-image: url("/img/duties/mariners.jpg"); background-position: left;}

  .duties{display: flex; justify-content: space-around; padding: 4rem; width: 80%; margin: 0 auto;}
  .duty{text-align: center; display: flex; flex-direction: column; align-items: center; max-width: 20%; color: $text-tertiary;
  .duty-img{width: 300px; height: 300px; border-radius: 50%; margin-bottom: 2rem; background-size: cover;}}

}

