#footer{
  background-color: $secondary-color;
  padding: 3rem 0;
  text-align: center;

  h3{color: $text-tertiary; margin-bottom: 0.5rem;}
  img{width: 8rem; margin-bottom: 1rem;}
  a{color: $text-tertiary; font-weight: bold;}
}