#location{
  height: 70vh;
  background: linear-gradient(rgba(black,0.8),rgba(black,0.2),rgba(black,0.7)) ,url("/img/location/G-1.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid $primary-color;
  
  #adress{display: flex;
  i{color: $primary-color; font-size: 4rem;  margin-right: 2rem;}
  p{color: $text-color; text-shadow: 0 0 20px black;}

  }

  #about-location{
    max-width: 400px;
    h3{font-size: 5rem; color: $primary-color; margin-bottom: 1rem; text-shadow: 0 0 20px black;}
    p{font-size: 1.5rem; color: $text-color; text-shadow: 0 0 20px black; line-height: 1.5em;}
  }
}
