@media (max-width: 450px){


  #enlistment-description{
      flex-direction: column;
      height: auto;

    .logo{margin-bottom: 0.5em;}
    #disclaimer{padding: 2em;}
    #subscription-form{max-width: 70%; margin-bottom: 3rem;}
  }

  .duties{
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;

    .duty{max-width: 100%; margin-bottom: 3rem;}

    
  }

  #location{
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 2rem 0;
    
    #adress{order: 2; flex-direction: column; max-width: 100%; i{margin: .3em 0;}}
    #about-location{order: 1; max-width: 80%;}
  }

  #footer{
    padding: 1rem 0;
  }
}