@media (max-width: 768px){
  #enlistment-description{
    flex-direction: column;
    height: auto;
    .logo{margin-bottom: 1rem; margin-top: 3rem;}
    #disclaimer{margin-bottom: 3rem;}
    #subscription-form{max-width: 60%; margin-bottom: 3rem;}
    
  }

}
