$primary-color: rgb(28,122,190);
$secondary-color: silver;
$text-color: white;
$text-secondary: black;
$text-tertiary: rgb(99, 99, 99);
$soft-red:rgb(255, 160, 160);
$soft-green:rgb(160, 255, 200);
$soft-blue:rgb(160, 200, 255);